body{
    margin:0 auto;
}
p,h1,h2,h3,h4{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color:#000;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}
a.visited {
    opacity: 1;
    border-bottom: 1px solid black;
}
a.notActive {
    opacity: .5;
}
ul{
    list-style: none;
}
@font-face {
    font-family: 'iconfont';
    src: url('font/font_iconfont/iconfont.eot');
    src: url('font/font_iconfont/iconfont.eot?#iefix') format('embedded-opentype'),
        url('font/font_iconfont/iconfont.woff2') format('woff2'),
        url('font/font_iconfont/iconfont.woff') format('woff'),
        url('font/font_iconfont/iconfont.ttf') format('truetype'),
        url('font/font_iconfont/iconfont.svg#iconfont') format('svg');
}
.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.article-tags{
    display: flex;
    padding-top: 10px;
}
.article-tags > .iconfont{
    font-size:14px;
    margin-right:10px;
}
.article-tags a:hover{
    color:yellowgreen;
}